body {
  background-color: #add8e6; /* Light blue background */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

header {
  background: #333;
  color: #fff;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 0.5rem;
}

nav ul li a,
nav ul li button {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

nav ul li a button,
nav ul li button {
  background-color: #555;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a button:hover,
nav ul li button:hover {
  background-color: #777;
}

nav ul li:first-child {
  margin-right: auto;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
